<?xml version="1.0"?>
<appSettings>
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!--  
    <add key="OsakaDirectory" value="C:\Users\R4535037\Desktop\OSAKA\" /> 
    <add key="TokyoDirectory" value="C:\Users\R4535037\Desktop\TOKYO\" />
    <add key="DefaultDirectory" value="C:\Users\R4535037\Desktop\STAGING\" />
    -->
  <add key="OsakaBackupPath" value="\\10.8.163.140\T-vFILE\@TEMP (Regularly Cleaned up)\LIMSON Julius\Osaka"/>
  <add key="TokyoBackupPath" value="\\10.8.163.140\T-vFILE\@TEMP (Regularly Cleaned up)\LIMSON Julius\Tokyo"/>

  <add key="ScannerPath" value="\\10.8.163.140\T-vFILE\@TEMP (Regularly Cleaned up)\LIMSON Julius\Scanner\TOKYO"/>
  <add key="ScannerPathOsk" value="\\10.8.163.140\T-vFILE\@TEMP (Regularly Cleaned up)\LIMSON Julius\Scanner\OSAKA"/>
  <add key="DefaultDirectory" value="\\10.8.163.140\T-vFILE\@TEMP (Regularly Cleaned up)\LIMSON Julius\Scanner" />

  <add key="Username" value="SmdServices" />
  <add key="Password" value="tqbfjotld!2F" />


  <add key="Domain" value="MBJ.LOCAL" />  
</appSettings>